<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/portal.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="container-fluid">
        <div class="nav-header">
            header
        </div>
    </div>
</header>
<div class="container-fluid" id="main-container">
    <div class="row justify-content-md-center">
        <!--&lt;!&ndash;left side&ndash;&gt;-->
        <!--<div class="col-2">-->
            <!--.col-4-->
        <!--</div>-->
        <!--right side-->
        <div class="col">
            .col-6
        </div>

    </div>

</div>
<footer>
    footer
</footer>
</body>
</html>